<section class="blog__section">
	<div class="blog__container">
		<div class="blog__posts-block" id="postsBlock">
			<div class="blog__post">
				<p class="post__date">12/28/2020</p>
				<img src="../../images/blog-page-images/fool-blog-food.jpg" class="post__image" />
				<p class="text_orange">5 tips on how not to go on holidays</p>
				<p class="text__content text_small">
					The New Year holidays will begin soon. However, the holiday season - it's not just about laughter and warm meetings with family and friends,
					but also about the endless marathon feast. Even those who regularly monitor their diet, as part of such activities, it is much harder to
					resist temptation ...
				</p>
				<a href="blog-post_page.html" class="post__link">Read more </a>
			</div>
			<div class="blog__post">
				<p class="post__date">12/28/2020</p>
				<img src="../../images/blog-page-images/fool-blog-home-trainings.jpg" class="post__image" />
				<p class="text_orange">We train at home: how to maintain tone</p>
				<p class="text__content text_small">
					It is often difficult for us to gather strength and force ourselves to do sports at home. And this is in vain, because our activity is
					direct related to health. First of all, you need to remember that there is no need to exercise every day. Your body needs time to recover
					and rest ..
				</p>
				<a href="blog-post_page.html" class="post__link">Read more </a>
			</div>
			<div class="blog__post">
				<p class="post__date">12/27/2020</p>
				<img src="../../images/blog-page-images/fool-blog-advices.jpg" class="post__image" />
				<p class="text_orange">What not to do before training</p>
				<p class="text__content text_small">
					First of all, you need to exclude any beverages that contain alcohol. Even a small portion of alcohol provokes drowsiness, dehydration,
					impaired motor function and narrowing of blood vessels. You should not use spices and overeat, because it can lead to accelerated
					palpitations and reflux ...
				</p>
				<a href="blog-post_page.html" class="post__link">Read more </a>
			</div>
			<div class="blog__post">
				<p class="post__date">12/26/2020</p>
				<img src="../../images/blog-page-images/fool-blog-changing-programm.jpg" class="post__image" />
				<p class="text_orange">When to change the training program?</p>
				<p class="text__content text_small">
					One of the world's most famous fitness enthusiasts Jack Lalaine said that the main secret to the effectiveness of training - to change the
					program regularly to occupy. All because the human body has an amazing ability to adapt to everything - yes, even the most difficult
					training program over time becomes
				</p>
				<a href="blog-post_page.html" class="post__link">Read more </a>
			</div>

			<div class="blog__post">
				<p class="post__date">12/25/2020</p>
				<img src="../../images/blog-page-images/fool-blog-advices.jpg" class="post__image" />
				<p class="text_orange">What not to do before training</p>
				<p class="text__content text_small">
					First of all, you need to exclude any beverages that contain alcohol. Even a small portion of alcohol provokes drowsiness, dehydration,
					impaired motor function and narrowing of blood vessels. You should not use spices and overeat, because it can lead to accelerated
					palpitations and reflux ...
				</p>
				<a href="blog-post_page.html" class="post__link">Read more </a>
			</div>
			<div class="blog__post">
				<p class="post__date">12/25/2020</p>
				<img src="../../images/blog-page-images/fool-blog-changing-programm.jpg" class="post__image" />
				<p class="text_orange">When to change the training program?</p>
				<p class="text__content text_small">
					One of the world's most famous fitness enthusiasts Jack Lalaine said that the main secret to the effectiveness of training - to change the
					program regularly to occupy. All because the human body has an amazing ability to adapt to everything - yes, even the most difficult
					training program over time becomes
				</p>
				<a href="blog-post_page.html" class="post__link">Read more </a>
			</div>
			<div class="blog__post">
				<p class="post__date">12/24/2020</p>
				<img src="../../images/blog-page-images/fool-blog-home-trainings.jpg" class="post__image" />
				<p class="text_orange">We train at home: how to maintain tone</p>
				<p class="text__content text_small">
					It is often difficult for us to gather strength and force ourselves to do sports at home. And this is in vain, because our activity is
					direct related to health. First of all, you need to remember that there is no need to exercise every day. Your body needs time to recover
					and rest ..
				</p>
				<a href="blog-post_page.html" class="post__link">Read more </a>
			</div>
			<div class="blog__post">
				<p class="post__date">12/24/2020</p>
				<img src="../../images/blog-page-images/fool-blog-food.jpg" class="post__image" />
				<p class="text_orange">5 tips on how not to go on holidays</p>
				<p class="text__content text_small">
					The New Year holidays will begin soon. However, the holiday season - it's not just about laughter and warm meetings with family and friends,
					but also about the endless marathon feast. Even those who regularly monitor their diet, as part of such activities, it is much harder to
					resist temptation ...
				</p>
				<a href="blog-post_page.html" class="post__link">Read more </a>
			</div>

			<div class="blog__post">
				<p class="post__date">12/23/2020</p>
				<img src="../../images/blog-page-images/fool-blog-home-trainings.jpg" class="post__image" />
				<p class="text_orange">5 tips on how not to go on holidays</p>
				<p class="text__content text_small">
					The New Year holidays will begin soon. However, the holiday season - it's not just about laughter and warm meetings with family and friends,
					but also about the endless marathon feast. Even those who regularly monitor their diet, as part of such activities, it is much harder to
					resist temptation ...
				</p>
				<a href="blog-post_page.html" class="post__link">Read more </a>
			</div>
			<div class="blog__post">
				<p class="post__date">12/23/2020</p>
				<img src="../../images/blog-page-images/fool-blog-advices.jpg" class="post__image" />
				<p class="text_orange">What not to do before training</p>
				<p class="text__content text_small">
					First of all, you need to exclude any beverages that contain alcohol. Even a small portion of alcohol provokes drowsiness, dehydration,
					impaired motor function and narrowing of blood vessels. You should not use spices and overeat, because it can lead to accelerated
					palpitations and reflux ...
				</p>
				<a href="blog-post_page.html" class="post__link">Read more </a>
			</div>
		</div>
	</div>
</section>
