<section class="form-section">
	<div class="form-container">
		<div class="form-silhouette__block">
			<img src="../../images/trainers-page-images/form-silhouette-1.svg" alt="silhouette of girl" class="form-silhouette" />
		</div>
		<div class="form-block">
			<h4 class="form-title">Sign up for a free trial workout in one click</h4>
			<form class="form" id="teamForm">
				<input type="phone" class="form-input" placeholder="Ваш телефон" required />
				<input type="email" class="form-input" placeholder="E-mail" required />
				<button class="form__button_orange">Join</button>
			</form>
		</div>
		<div class="form-silhouette__block">
			<img src="../../images/trainers-page-images/form-silhouette-2.svg" alt="silhouette of girl" class="form-silhouette" />
		</div>
	</div>
</section>
