<section class="team__section">
	<div class="team__container">
		<h3 class="section__heading">Our coaches</h3>
		<div class="trainers" id="trainersList">
			<div class="trainer">
				<div class="trainer__info-block">
					<h3 class="text_medium">Valeria Tsibulska</h3>
					<p class="text_thin">Fitness trainer</p>
					<p class="text_small">
						Certified, universal fitness specialist. Certificate of the international standard "Cycle Gymnastic". Instructor of intensive cardio and
						strength programs: aerobics, STEP FIT, Slim figure, BODY WORKOUT, TRACK FIT, JUMPING. Author of an innovative intensive fitness program
						with using Cycle - SPINT FITNESS, successfully carried out in our network. Author of the program for children 5-12 years KIDS MIX FITNESS,
						which includes general strengthening of the child's body, the formation of the correct posture, through the use of elements of acrobatics,
						gymnastics and aerobics. Valeria Tsibulska is a master of sports in gymnastics and a candidate for master of sports in sports aerobics.
					</p>
					<div class="trainer-expirience">
						<div>
							<p>15 years</p>
							<p>In sports</p>
						</div>
						<div>
							<p>8 years</p>
							<p>Works as a coach</p>
						</div>
					</div>
				</div>
				<div class="trainer__photo-block">
					<img src="../../images/trainers-page-images/trainers-team-Valeria.svg" alt="trainer Valeria photo" class="trainer__photo" />
				</div>
			</div>
			<div class="trainer">
				<div class="trainer__photo-block">
					<img src="../../images/trainers-page-images/trainers-team-Olga.svg" alt="trainer Olga photo" class="trainer__photo" />
				</div>
				<div class="trainer__info-block">
					<h3 class="text_medium">Olga Sheremet</h3>
					<p class="text_thin">Fitness trainer</p>
					<p class="text_small">
						Certified, universal fitness specialist. Certificate of the international standard "Cycle Gymnastic". Instructor of intensive cardio and
						strength programs: aerobics, STEP FIT, Slim figure, BODY WORKOUT, TRACK FIT, JUMPING. Author of an innovative intensive fitness program
						with using Cycle - SPINT FITNESS, successfully carried out in our network. Author of the program for children 5-12 years KIDS MIX FITNESS,
						which includes general strengthening of the child's body, the formation of the correct posture, through the use of elements of acrobatics,
						gymnastics and aerobics. Olga Sheremet is a master of sports in gymnastics and a candidate for master of sports in sports aerobics.
					</p>
					<div class="trainer-expirience">
						<div>
							<p>16 years</p>
							<p>In sports</p>
						</div>
						<div>
							<p>7 years</p>
							<p>Works as a coach</p>
						</div>
					</div>
				</div>
			</div>
			<div class="trainer">
				<div class="trainer__info-block">
					<h3 class="text_medium">Igor Lastochkin</h3>
					<p class="text_thin">Fitness trainer</p>
					<p class="text_small">
						Certified, universal fitness specialist. Certificate of the international standard "Cycle Gymnastic". Instructor of intensive cardio and
						strength programs: aerobics, STEP FIT, Slim figure, BODY WORKOUT, TRACK FIT, JUMPING. Author of an innovative intensive fitness program
						with using Cycle - SPINT FITNESS, successfully carried out in our network. Author of the program for children 5-12 years KIDS MIX FITNESS,
						which includes general strengthening of the child's body, the formation of the correct posture, through the use of elements of acrobatics,
						gymnastics and aerobics. Igor Lastochkin is a master of sports in gymnastics and a candidate for master of sports in sports aerobics.
					</p>
					<div class="trainer-expirience">
						<div>
							<p>14 years</p>
							<p>In sports</p>
						</div>
						<div>
							<p>5 years</p>
							<p>Works as a coach</p>
						</div>
					</div>
				</div>
				<div class="trainer__photo-block">
					<img src="../../images/trainers-page-images/trainers-team-Ihor.svg" alt="trainer Ihor photo" class="trainer__photo" />
				</div>
			</div>
			<div class="trainer">
				<div class="trainer__photo-block">
					<img src="../../images/trainers-page-images/trainers-team-Inna.svg" alt="trainer Inna photo" class="trainer__photo" />
				</div>
				<div class="trainer__info-block">
					<h3 class="text_medium">Inna Shatulkina</h3>
					<p class="text_thin">Fitness trainer</p>
					<p class="text_small">
						Certified, universal fitness specialist. Certificate of the international standard "Cycle Gymnastic". Instructor of intensive cardio and
						strength programs: aerobics, STEP FIT, Slim figure, BODY WORKOUT, TRACK FIT, JUMPING. Author of an innovative intensive fitness program
						with using Cycle - SPINT FITNESS, successfully carried out in our network. Author of the program for children 5-12 years KIDS MIX FITNESS,
						which includes general strengthening of the child's body, the formation of the correct posture, through the use of elements of acrobatics,
						gymnastics and aerobics. Inna Shatulkina is a master of sports in gymnastics and a candidate for master of sports in sports aerobics.
					</p>
					<div class="trainer-expirience">
						<div>
							<p>10 years</p>
							<p>In sports</p>
						</div>
						<div>
							<p>5 years</p>
							<p>Works as a coach</p>
						</div>
					</div>
				</div>
			</div>

			<div class="trainer hidden">
				<div class="trainer__photo-block">
					<img src="../../images/trainers-page-images/trainers-team-Inna.svg" alt="trainer Inna photo" class="trainer__photo" />
				</div>
				<div class="trainer__info-block">
					<h3 class="text_medium">Inna Shatulkina</h3>
					<p class="text_thin">Fitness trainer</p>
					<p class="text_small">
						Certified, universal fitness specialist. Certificate of the international standard "Cycle Gymnastic". Instructor of intensive cardio and
						strength programs: aerobics, STEP FIT, Slim figure, BODY WORKOUT, TRACK FIT, JUMPING. Author of an innovative intensive fitness program
						with using Cycle - SPINT FITNESS, successfully carried out in our network. Author of the program for children 5-12 years KIDS MIX FITNESS,
						which includes general strengthening of the child's body, the formation of the correct posture, through the use of elements of acrobatics,
						gymnastics and aerobics. Inna Shatulkina is a master of sports in gymnastics and a candidate for master of sports in sports aerobics.
					</p>
					<div class="trainer-expirience">
						<div>
							<p>10 years</p>
							<p>In sports</p>
						</div>
						<div>
							<p>5 years</p>
							<p>Works as a coach</p>
						</div>
					</div>
				</div>
			</div>
			<div class="trainer hidden">
				<div class="trainer__info-block">
					<h3 class="text_medium">Valeria Tsibulska</h3>
					<p class="text_thin">Fitness trainer</p>
					<p class="text_small">
						Certified, universal fitness specialist. Certificate of the international standard "Cycle Gymnastic". Instructor of intensive cardio and
						strength programs: aerobics, STEP FIT, Slim figure, BODY WORKOUT, TRACK FIT, JUMPING. Author of an innovative intensive fitness program
						with using Cycle - SPINT FITNESS, successfully carried out in our network. Author of the program for children 5-12 years KIDS MIX FITNESS,
						which includes general strengthening of the child's body, the formation of the correct posture, through the use of elements of acrobatics,
						gymnastics and aerobics. Valeria Tsibulska is a master of sports in gymnastics and a candidate for master of sports in sports aerobics.
					</p>
					<div class="trainer-expirience">
						<div>
							<p>15 years</p>
							<p>In sports</p>
						</div>
						<div>
							<p>8 years</p>
							<p>Works as a coach</p>
						</div>
					</div>
				</div>
				<div class="trainer__photo-block">
					<img src="../../images/trainers-page-images/trainers-team-Valeria.svg" alt="trainer Valeria photo" class="trainer__photo" />
				</div>
			</div>
			<div class="trainer hidden">
				<div class="trainer__photo-block">
					<img src="../../images/trainers-page-images/trainers-team-Olga.svg" alt="trainer Olga photo" class="trainer__photo" />
				</div>
				<div class="trainer__info-block">
					<h3 class="text_medium">Olga Sheremet</h3>
					<p class="text_thin">Fitness trainer</p>
					<p class="text_small">
						Certified, universal fitness specialist. Certificate of the international standard "Cycle Gymnastic". Instructor of intensive cardio and
						strength programs: aerobics, STEP FIT, Slim figure, BODY WORKOUT, TRACK FIT, JUMPING. Author of an innovative intensive fitness program
						with using Cycle - SPINT FITNESS, successfully carried out in our network. Author of the program for children 5-12 years KIDS MIX FITNESS,
						which includes general strengthening of the child's body, the formation of the correct posture, through the use of elements of acrobatics,
						gymnastics and aerobics. Olga Sheremet is a master of sports in gymnastics and a candidate for master of sports in sports aerobics.
					</p>
					<div class="trainer-expirience">
						<div>
							<p>16 years</p>
							<p>In sports</p>
						</div>
						<div>
							<p>7 years</p>
							<p>Works as a coach</p>
						</div>
					</div>
				</div>
			</div>
			<div class="trainer hidden">
				<div class="trainer__info-block">
					<h3 class="text_medium">Igor Lastochkin</h3>
					<p class="text_thin">Fitness trainer</p>
					<p class="text_small">
						Certified, universal fitness specialist. Certificate of the international standard "Cycle Gymnastic". Instructor of intensive cardio and
						strength programs: aerobics, STEP FIT, Slim figure, BODY WORKOUT, TRACK FIT, JUMPING. Author of an innovative intensive fitness program
						with using Cycle - SPINT FITNESS, successfully carried out in our network. Author of the program for children 5-12 years KIDS MIX FITNESS,
						which includes general strengthening of the child's body, the formation of the correct posture, through the use of elements of acrobatics,
						gymnastics and aerobics. Igor Lastochkin is a master of sports in gymnastics and a candidate for master of sports in sports aerobics.
					</p>
					<div class="trainer-expirience">
						<div>
							<p>14 years</p>
							<p>In sports</p>
						</div>
						<div>
							<p>5 years</p>
							<p>Works as a coach</p>
						</div>
					</div>
				</div>
				<div class="trainer__photo-block">
					<img src="../../images/trainers-page-images/trainers-team-Ihor.svg" alt="trainer Ihor photo" class="trainer__photo" />
				</div>
			</div>
			<div class="trainer hidden">
				<div class="trainer__photo-block">
					<img src="../../images/trainers-page-images/trainers-team-Inna.svg" alt="trainer Inna photo" class="trainer__photo" />
				</div>
				<div class="trainer__info-block">
					<h3 class="text_medium">Inna Shatulkina</h3>
					<p class="text_thin">Fitness trainer</p>
					<p class="text_small">
						Certified, universal fitness specialist. Certificate of the international standard "Cycle Gymnastic". Instructor of intensive cardio and
						strength programs: aerobics, STEP FIT, Slim figure, BODY WORKOUT, TRACK FIT, JUMPING. Author of an innovative intensive fitness program
						with using Cycle - SPINT FITNESS, successfully carried out in our network. Author of the program for children 5-12 years KIDS MIX FITNESS,
						which includes general strengthening of the child's body, the formation of the correct posture, through the use of elements of acrobatics,
						gymnastics and aerobics. Inna Shatulkina is a master of sports in gymnastics and a candidate for master of sports in sports aerobics.
					</p>
					<div class="trainer-expirience">
						<div>
							<p>10 years</p>
							<p>In sports</p>
						</div>
						<div>
							<p>5 years</p>
							<p>Works as a coach</p>
						</div>
					</div>
				</div>
			</div>

			<div class="trainer hidden">
				<div class="trainer__photo-block">
					<img src="../../images/trainers-page-images/trainers-team-Olga.svg" alt="trainer Olga photo" class="trainer__photo" />
				</div>
				<div class="trainer__info-block">
					<h3 class="text_medium">Olga Sheremet</h3>
					<p class="text_thin">Fitness trainer</p>
					<p class="text_small">
						Certified, universal fitness specialist. Certificate of the international standard "Cycle Gymnastic". Instructor of intensive cardio and
						strength programs: aerobics, STEP FIT, Slim figure, BODY WORKOUT, TRACK FIT, JUMPING. Author of an innovative intensive fitness program
						with using Cycle - SPINT FITNESS, successfully carried out in our network. Author of the program for children 5-12 years KIDS MIX FITNESS,
						which includes general strengthening of the child's body, the formation of the correct posture, through the use of elements of acrobatics,
						gymnastics and aerobics. Olga Sheremet is a master of sports in gymnastics and a candidate for master of sports in sports aerobics.
					</p>
					<div class="trainer-expirience">
						<div>
							<p>16 years</p>
							<p>In sports</p>
						</div>
						<div>
							<p>7 years</p>
							<p>Works as a coach</p>
						</div>
					</div>
				</div>
			</div>
			<div class="trainer hidden">
				<div class="trainer__info-block">
					<h3 class="text_medium">Igor Lastochkin</h3>
					<p class="text_thin">Fitness trainer</p>
					<p class="text_small">
						Certified, universal fitness specialist. Certificate of the international standard "Cycle Gymnastic". Instructor of intensive cardio and
						strength programs: aerobics, STEP FIT, Slim figure, BODY WORKOUT, TRACK FIT, JUMPING. Author of an innovative intensive fitness program
						with using Cycle - SPINT FITNESS, successfully carried out in our network. Author of the program for children 5-12 years KIDS MIX FITNESS,
						which includes general strengthening of the child's body, the formation of the correct posture, through the use of elements of acrobatics,
						gymnastics and aerobics. Igor Lastochkin is a master of sports in gymnastics and a candidate for master of sports in sports aerobics.
					</p>
					<div class="trainer-expirience">
						<div>
							<p>14 years</p>
							<p>In sports</p>
						</div>
						<div>
							<p>5 years</p>
							<p>Works as a coach</p>
						</div>
					</div>
				</div>
				<div class="trainer__photo-block">
					<img src="../../images/trainers-page-images/trainers-team-Ihor.svg" alt="trainer Ihor photo" class="trainer__photo" />
				</div>
			</div>
			<div class="trainer hidden">
				<div class="trainer__info-block">
					<h3 class="text_medium">Valeria Tsibulska</h3>
					<p class="text_thin">Fitness trainer</p>
					<p class="text_small">
						Certified, universal fitness specialist. Certificate of the international standard "Cycle Gymnastic". Instructor of intensive cardio and
						strength programs: aerobics, STEP FIT, Slim figure, BODY WORKOUT, TRACK FIT, JUMPING. Author of an innovative intensive fitness program
						with using Cycle - SPINT FITNESS, successfully carried out in our network. Author of the program for children 5-12 years KIDS MIX FITNESS,
						which includes general strengthening of the child's body, the formation of the correct posture, through the use of elements of acrobatics,
						gymnastics and aerobics. Valeria Tsibulska is a master of sports in gymnastics and a candidate for master of sports in sports aerobics.
					</p>
					<div class="trainer-expirience">
						<div>
							<p>15 years</p>
							<p>In sports</p>
						</div>
						<div>
							<p>8 years</p>
							<p>Works as a coach</p>
						</div>
					</div>
				</div>
				<div class="trainer__photo-block">
					<img src="../../images/trainers-page-images/trainers-team-Valeria.svg" alt="trainer Valeria photo" class="trainer__photo" />
				</div>
			</div>
		</div>
	</div>
</section>
