<section class="contacts__section">
	<div class="contacts__container">
		<div class="contacts-block">
			<h2 class="contacts__heading">Контакти</h2>
			<div class="contacts-phone">
				<p class="text_orange text_big">Телефон:</p>
				<p class="text_medium">+38(044)-25-25-225</p>
			</div>
			<div class="contacts-adress">
				<p class="text_orange text_big">Адреса:</p>
				<p class="text_medium">05654, м. Одеса, вул. Дерибасівська, 30, оф. 9</p>
			</div>
			<div class="contacts-graphic">
				<p class="text_orange text_big">Графік работи:</p>
				<p class="text_medium">Пн-Нд: 06:00-23:00</p>
			</div>
			<div class="contacts-mail">
				<p class="text_orange text_big">E-mail:</p>
				<p class="text_medium">nofatofficial@gmail.com</p>
			</div>
		</div>
		<div class="contacts__form-block">
			<div class="footer__form-block">
				<h4 class="heading_medium_orange">Зв'язатися з нами</h4>
				<form class="footer__form" id="footerForm">
					<input class="form__input" type="text" name="name" placeholder="Ваше ім'я" required />
					<input class="form__input" type="text" name="phone" placeholder="Номер телефона" required />
					<textarea class="form__textarea" name="message" cols="30" rows="7" placeholder="Повідомлення"></textarea>
					<button class="form__button">Відправити</button>
				</form>
			</div>
		</div>
		<div class="footer__networks">
			<a href="https://twitter.com" class="footer__network"><img src="../../images/icons/contacts-tweeter-icon.svg" alt="tweeter-link-icon" /> </a>
			<a href="https://www.facebook.com" class="footer__network">
				<img src="../../images/icons/contacts-facebook-icon.svg" alt="facebook-link-icon" />
			</a>
			<a href="https://www.instagram.com" class="footer__network">
				<img src="../../images/icons/contacts-instagram-icon.svg" alt="instagram-link-icon" />
			</a>
		</div>
	</div>
</section>
<section class="footer__map-container">
	<iframe
		class="footer__map"
		src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2747.2138611135!2d30.73065591499051!3d46.4840775728333!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40c63196f70d72f7%3A0x21bf8484ff5bf46a!2z0YPQuy4g0J_RgNC10L7QsdGA0LDQttC10L3RgdC60LDRjywgMzQsINCe0LTQtdGB0YHQsCwg0J7QtNC10YHRgdC60LDRjyDQvtCx0LvQsNGB0YLRjCwgNjUwMDA!5e0!3m2!1sru!2sua!4v1615627546016!5m2!1sru!2sua"
		allowfullscreen=""
		loading="lazy"
	></iframe>
</section>
<section>
	<div class="contacts__copyrights"><p class="text_small">© 2020 Syvak Corp</p></div>
</section>
