<section class="home__first-screen first-screen">
	<div class="blur_black">
		<header class="first-screen__header">
			<div class="home-logo__container">
				<a href="home_page.html"><img src="../../images/logo.svg" alt="NoFat-logo" /></a>
			</div>
			<nav class="home-navigation">
				<div class="home-navigation__contact">
					<a href="tel:+380673417783"
						><img src="../../images/icons/phone-icon.svg" alt="call" />
						<p>+38(044-25-25-225)</p></a
					>
				</div>
				<div class="home-navigation__lang-switcher lang-switcher" id="languageSwitcher">
					<button class="lang-switcher__button">EN</button>
					<button class="lang-switcher__button chosen-lang">RU</button>
					<button class="lang-switcher__button">UA</button>
				</div>
				<div class="home-navigation__burger burger__block" id="navigationMenu">
					<input class="burger__toggle" id="burgerButton" type="checkbox" />
					<label class="burger__button" for="burgerButton">
						<span></span>
					</label>
					<ul class="burger__menu">
						<li><a class="burger__menu-item" href="trainings_page.html">Тренування</a></li>
						<li><a class="burger__menu-item" href="team_page.html">Команда</a></li>
						<li><a class="burger__menu-item" href="subscription_page.html">Абонименти</a></li>
						<li><a class="burger__menu-item" href="timetable_page.html">Розклад</a></li>
						<li><a class="burger__menu-item" href="contacts_page.html">Контакти</a></li>
						<li><a class="burger__menu-item" href="blog_page.html">Блог</a></li>
					</ul>
				</div>
			</nav>
		</header>
		<main class="first-screen__main">
			<div class="home__main-banner" id="homeBaner">
				<h1 class="home__main-heading"><span class="text_orange">Зміни</span> своє тіло прямо зараз!</h1>
				<span class="text_small">Кращий фітнес центр в місті!</span>
				<p class="text_medium">
					До Ваших послуг широкий спектр комплексних спортивних послуг, що надаються на високому професійному рівні з використанням сучасних і
					інноваційних методик і обладнання.
				</p>
			</div>
			<div class="home__form-container" id="formContainer">
				<h4 class="subtite">Запишись на безкоштовну пробну тренування в один клік</h4>
				<form class="home__form">
					<input type="phone" class="home__form-input" placeholder="Ваш телефон" required />
					<input type="email" class="home__form-input" placeholder="E-mail" required />
					<button class="form__button_orange">Записаться</button>
				</form>
			</div>
		</main>
	</div>
</section>
<section class="home__benefits benefits">
	<div class="benefits__content">
		<h2 class="section__heading">Наші переваги</h2>
		<div class="benefits__block">
			<div class="benefit__block">
				<img src="../../images/icons/benefits-schedule-icon.svg" alt="benefits-schedule-icon" />
				<h5 class="text_medium">Графік работи</h5>
				<p class="text_small">Працюємо без вихідних, с 06:00 до 23:00</p>
			</div>
			<div class="benefit__block">
				<img ssrc="../../images/icons/benefits-geoicon.svg" alt="benefits-geoicon-icon" />
				<h5 class="text_medium">Розташування</h5>
				<p class="text_small">Фітнес центр розташований в центрі міста, є парковка</p>
			</div>
			<div class="benefit__block">
				<img src="../../images/icons/benefits-equipment-icon.svg" alt="benefits-schedule-icon" />
				<h5 class="text_medium">Обладнання</h5>
				<p class="text_small">Центр оснащений тільки професійним обладнанням</p>
			</div>
			<div class="benefit__block">
				<img src="../../images/icons/benefits-space-icon.svg" alt="benefits-schedule-icon" />
				<h5 class="text_medium">Простір</h5>
				<p class="text_small">Площа фітнес центру 3 000 кв.м.</p>
			</div>
		</div>
	</div>
</section>
<section class="home__trainings">
	<div class="home__trainings-content">
		<h2 class="section__heading">Тренування</h2>
		<div class="home__trainings-block">
			<div class="home__training-block">
				<img src="../../images/home-page-images/trainings-personal.jpg" alt="personal training image" class="home__training-image" />
				<div class="home__training">
					<h4 class="home__training-heading">Персональне тренування</h4>
					<p class="text_small">Зроби своє тренування ще більш ефективною - почни займатися з професійним тренером.</p>
					<a href="trainings_page.html#personalTraining" class="home__training-button">Детальніше</a>
				</div>
			</div>
			<div class="home__training-block">
				<div class="home__training">
					<h4 class="heading_medium_orange home__training-heading">Фітнес для вагітних</h4>
					<p class="text_small">
						Наш центр піклуватися про здоров'я майбутніх мам і запрошує записатися на фітнес для вагітних за різними напрямками.
					</p>
					<a href="trainings_page.html#pregantTraining" class="home__training-button">Детальніше</a>
				</div>
				<img src="../../images/home-page-images/trainings-pregant.jpg" alt="training for pregant image" class="home__training-image" />
			</div>
			<div class="home__trainings-sale">
				<div class="blur_black">
					<div class="home__sale-info">
						<p>Закохуйся в фітнес!</p>
						<p>-50%</p>
						<p>на всі абонементи</p>
						<p>Акція діє до 01.01.2021</p>
					</div>
				</div>
			</div>
			<div class="home__training-block">
				<img src="../../images/home-page-images/trainings-functional.jpg" alt="functional training image" class="home__training-image" />
				<div class="home__training">
					<h4 class="heading_medium_orange home__training-heading">Функціональна тренування</h4>
					<p class="text_small">
						Заняття в залах на велотренажерах, бігових доріжках і орбітреків покращує роботу серця, підвищує витривалість і робить сон міцним.м.
					</p>
					<a href="trainings_page.html#functionalTraining" class="home__training-button">Детальніше</a>
				</div>
			</div>
			<div class="home__training-block">
				<div class="home__training">
					<h4 class="heading_medium_orange home__training-heading">Групове тренування</h4>
					<p class="text_small">
						Заняття в залах групових програм проводиться за умови присутності хв. 3-х чоловік. Різні програми допоможуть Вам створити ідеальне тіло.
					</p>
					<a href="trainings_page.html#groupTraining" class="home__training-button">Детальніше</a>
				</div>
				<img src="../../images/home-page-images/trainings-group.jpg" alt="group training image" class="home__training-image" />
			</div>
		</div>
	</div>
</section>
<section class="home__team">
	<h2 class="section__heading">Команда</h2>
	<div class="home__team-content">
		<div class="home__trainer-info">
			<h5 class="text_medium">Валерія Цибульска</h5>
			<p class="text_small">Фітнес-тренер</p>
			<blockquote class="text_small home__trainer-blockquote">
				"Делай выпады и приседания! Потому что никто еще не написал песен о худой попе."
			</blockquote>
			<div class="home__trainer-expirience">
				<div>
					<p>15 років</p>
					<p>В спорті</p>
				</div>
				<div>
					<p>8 років</p>
					<p>Працює тренером</p>
				</div>
			</div>
		</div>
		<div class="home__trainer-photo-block">
			<img src="../../images/trainers-page-images/trainers-main-Valeria.svg" alt="Valeria`s trainer photo" class="home__trainer-photo" />
			<div class="rect_grey"></div>
		</div>
		<div class="home__team-button-block">
			<a href="team_page.html" class="home__team-button">Всі тренери</a>
		</div>
	</div>
</section>
<section class="home__about">
	<h2 class="section__heading">Про нас</h2>
	<div class="home__about-content">
		<div class="home__aubout-photo-block">
			<img src="../../images/trainers-page-images/home-trainer-Inna.svg" alt="Inna`s trainer photo" class="home__about-photo" />
		</div>
		<div class="home__about-info">
			<p class="text_small"><span class="text_orange">NO fat</span> - це фітнес центр з найкращим обладнанням і командою професіоналів.</p>
			<p class="text_small">Атмосфера в центрі сприяє ефективній тренуванні, і мотивує досягати більшого.</p>
			<p class="text_small">Наші тренери завжди будуть поруч на шляху до Ваших цілей, щоб підтримувати і надавати професійну допомогу.</p>
		</div>
	</div>
</section>
<section class="home__parthners">
	<h2 class="section__heading">Партнери</h2>
	<div class="home__parthners-content">
		<div class="home__parthners-logos">
			<img src="../../images/home-page-images/parthners-puma-logo.svg" alt="parthner - Puma" class="home__parthner" />
			<img src="../../images/home-page-images/parthners-dunlop-logo.svg" alt="parthner - Dunlop" class="home__parthner" />
			<img src="../../images/home-page-images/parthners-under-armour-logo.svg" alt="parthner - Under Armour" class="home__parthner" />
		</div>
	</div>
</section>
