<section class="team__section">
	<div class="team__container">
		<h3 class="section__heading">Наші тренери</h3>
		<div class="trainers" id="trainersList">
			<div class="trainer">
				<div class="trainer__info-block">
					<h3 class="text_medium">Валерія Цибульська</h3>
					<p class="text_thin">Фітнес-тренер</p>
					<p class="text_small">
						Дипломований, універсальний фітнес-фахівець. Сертифікат міжнародного стандарту "Сайкл Джімнестік". Інструктор інтенсивних кардіо і силових
						програм: аеробіка, STEP FIT, Струнка фігура, BODY WORKOUT, TRACK FIT, JUMPING. Автор інноваційної інтенсивної фітнес-програми з
						використанням Сайкл - SPINT FITNESS, успішно проводиться в нашій мережі. Автор програми для дітей 5-12 років KIDS MIX FITNESS, яка включає
						загальне зміцнення дитячого організму, формування правильної постави, завдяки використанню елементів акробатики, гімнастики та аеробіки.
						Валерія Цибульська - майстер спорту зі спортивної гімнастики і кандитат в майстри спорту зі спортивної аеробіки.
					</p>
					<div class="trainer-expirience">
						<div>
							<p>15 років</p>
							<p>В спорті</p>
						</div>
						<div>
							<p>8 років</p>
							<p>Працює тренером</p>
						</div>
					</div>
				</div>
				<div class="trainer__photo-block">
					<img src="../../images/trainers-page-images/trainers-team-Valeria.svg" alt="trainer Valeria photo" class="trainer__photo" />
				</div>
			</div>
			<div class="trainer">
				<div class="trainer__photo-block">
					<img src="../../images/trainers-page-images/trainers-team-Olga.svg" alt="trainer Olga photo" class="trainer__photo" />
				</div>
				<div class="trainer__info-block">
					<h3 class="text_medium">Ольга Шеремет</h3>
					<p class="text_thin">Фітнес-тренер</p>
					<p class="text_small">
						Дипломований, універсальний фітнес-фахівець. Сертифікат міжнародного стандарту "Сайкл Джімнестік". Інструктор інтенсивних кардіо і силових
						програм: аеробіка, STEP FIT, Струнка фігура, BODY WORKOUT, TRACK FIT, JUMPING. Автор інноваційної інтенсивної фітнес-програми з
						використанням Сайкл - SPINT FITNESS, успішно проводиться в нашій мережі. Автор програми для дітей 5-12 років KIDS MIX FITNESS, яка включає
						загальне зміцнення дитячого організму, формування правильної постави, завдяки використанню елементів акробатики, гімнастики та аеробіки.
						Ольга Шеремет - майстер спорту зі спортивної гімнастики і кандитат в майстри спорту зі спортивної аеробіки.
					</p>
					<div class="trainer-expirience">
						<div>
							<p>16 років</p>
							<p>В спорті</p>
						</div>
						<div>
							<p>7 років</p>
							<p>Працює тренером</p>
						</div>
					</div>
				</div>
			</div>
			<div class="trainer">
				<div class="trainer__info-block">
					<h3 class="text_medium">Игорь Ласточкин</h3>
					<p class="text_thin">Фітнес-тренер</p>
					<p class="text_small">
						Дипломований, універсальний фітнес-фахівець. Сертифікат міжнародного стандарту "Сайкл Джімнестік". Інструктор інтенсивних кардіо і силових
						програм: аеробіка, STEP FIT, Струнка фігура, BODY WORKOUT, TRACK FIT, JUMPING. Автор інноваційної інтенсивної фітнес-програми з
						використанням Сайкл - SPINT FITNESS, успішно проводиться в нашій мережі. Автор програми для дітей 5-12 років KIDS MIX FITNESS, яка включає
						загальне зміцнення дитячого організму, формування правильної постави, завдяки використанню елементів акробатики, гімнастики та аеробіки.
						Игорь Ласточкин - майстер спорту зі спортивної гімнастики і кандитат в майстри спорту зі спортивної аеробіки.
					</p>
					<div class="trainer-expirience">
						<div>
							<p>14 років</p>
							<p>В спорті</p>
						</div>
						<div>
							<p>5 років</p>
							<p>Працює тренером</p>
						</div>
					</div>
				</div>
				<div class="trainer__photo-block">
					<img src="../../images/trainers-page-images/trainers-team-Ihor.svg" alt="trainer Ihor photo" class="trainer__photo" />
				</div>
			</div>
			<div class="trainer">
				<div class="trainer__photo-block">
					<img src="../../images/trainers-page-images/trainers-team-Inna.svg" alt="trainer Inna photo" class="trainer__photo" />
				</div>
				<div class="trainer__info-block">
					<h3 class="text_medium">Инна Шатулькина</h3>
					<p class="text_thin">Фітнес-тренер</p>
					<p class="text_small">
						Дипломований, універсальний фітнес-фахівець. Сертифікат міжнародного стандарту "Сайкл Джімнестік". Інструктор інтенсивних кардіо і силових
						програм: аеробіка, STEP FIT, Струнка фігура, BODY WORKOUT, TRACK FIT, JUMPING. Автор інноваційної інтенсивної фітнес-програми з
						використанням Сайкл - SPINT FITNESS, успішно проводиться в нашій мережі. Автор програми для дітей 5-12 років KIDS MIX FITNESS, яка включає
						загальне зміцнення дитячого організму, формування правильної постави, завдяки використанню елементів акробатики, гімнастики та аеробіки.
						Инна Шатулькина - майстер спорту зі спортивної гімнастики і кандитат в майстри спорту зі спортивної аеробіки.
					</p>
					<div class="trainer-expirience">
						<div>
							<p>10 років</p>
							<p>В спорті</p>
						</div>
						<div>
							<p>5 років</p>
							<p>Працює тренером</p>
						</div>
					</div>
				</div>
			</div>

			<div class="trainer hidden">
				<div class="trainer__info-block">
					<h3 class="text_medium">Валерія Цибульська</h3>
					<p class="text_thin">Фітнес-тренер</p>
					<p class="text_small">
						Дипломований, універсальний фітнес-фахівець. Сертифікат міжнародного стандарту "Сайкл Джімнестік". Інструктор інтенсивних кардіо і силових
						програм: аеробіка, STEP FIT, Струнка фігура, BODY WORKOUT, TRACK FIT, JUMPING. Автор інноваційної інтенсивної фітнес-програми з
						використанням Сайкл - SPINT FITNESS, успішно проводиться в нашій мережі. Автор програми для дітей 5-12 років KIDS MIX FITNESS, яка включає
						загальне зміцнення дитячого організму, формування правильної постави, завдяки використанню елементів акробатики, гімнастики та аеробіки.
						Валерія Цибульська - майстер спорту зі спортивної гімнастики і кандитат в майстри спорту зі спортивної аеробіки.
					</p>
					<div class="trainer-expirience">
						<div>
							<p>15 років</p>
							<p>В спорті</p>
						</div>
						<div>
							<p>8 років</p>
							<p>Працює тренером</p>
						</div>
					</div>
				</div>
				<div class="trainer__photo-block">
					<img src="../../images/trainers-page-images/trainers-team-Valeria.svg" alt="trainer Valeria photo" class="trainer__photo" />
				</div>
			</div>
			<div class="trainer hidden">
				<div class="trainer__photo-block">
					<img src="../../images/trainers-page-images/trainers-team-Olga.svg" alt="trainer Olga photo" class="trainer__photo" />
				</div>
				<div class="trainer__info-block">
					<h3 class="text_medium">Ольга Шеремет</h3>
					<p class="text_thin">Фітнес-тренер</p>
					<p class="text_small">
						Дипломований, універсальний фітнес-фахівець. Сертифікат міжнародного стандарту "Сайкл Джімнестік". Інструктор інтенсивних кардіо і силових
						програм: аеробіка, STEP FIT, Струнка фігура, BODY WORKOUT, TRACK FIT, JUMPING. Автор інноваційної інтенсивної фітнес-програми з
						використанням Сайкл - SPINT FITNESS, успішно проводиться в нашій мережі. Автор програми для дітей 5-12 років KIDS MIX FITNESS, яка включає
						загальне зміцнення дитячого організму, формування правильної постави, завдяки використанню елементів акробатики, гімнастики та аеробіки.
						Ольга Шеремет - майстер спорту зі спортивної гімнастики і кандитат в майстри спорту зі спортивної аеробіки.
					</p>
					<div class="trainer-expirience">
						<div>
							<p>16 років</p>
							<p>В спорті</p>
						</div>
						<div>
							<p>7 років</p>
							<p>Працює тренером</p>
						</div>
					</div>
				</div>
			</div>
			<div class="trainer hidden">
				<div class="trainer__info-block">
					<h3 class="text_medium">Игорь Ласточкин</h3>
					<p class="text_thin">Фітнес-тренер</p>
					<p class="text_small">
						Дипломований, універсальний фітнес-фахівець. Сертифікат міжнародного стандарту "Сайкл Джімнестік". Інструктор інтенсивних кардіо і силових
						програм: аеробіка, STEP FIT, Струнка фігура, BODY WORKOUT, TRACK FIT, JUMPING. Автор інноваційної інтенсивної фітнес-програми з
						використанням Сайкл - SPINT FITNESS, успішно проводиться в нашій мережі. Автор програми для дітей 5-12 років KIDS MIX FITNESS, яка включає
						загальне зміцнення дитячого організму, формування правильної постави, завдяки використанню елементів акробатики, гімнастики та аеробіки.
						Игорь Ласточкин - майстер спорту зі спортивної гімнастики і кандитат в майстри спорту зі спортивної аеробіки.
					</p>
					<div class="trainer-expirience">
						<div>
							<p>14 років</p>
							<p>В спорті</p>
						</div>
						<div>
							<p>5 років</p>
							<p>Працює тренером</p>
						</div>
					</div>
				</div>
				<div class="trainer__photo-block">
					<img src="../../images/trainers-page-images/trainers-team-Ihor.svg" alt="trainer Ihor photo" class="trainer__photo" />
				</div>
			</div>
			<div class="trainer hidden">
				<div class="trainer__photo-block">
					<img src="../../images/trainers-page-images/trainers-team-Inna.svg" alt="trainer Inna photo" class="trainer__photo" />
				</div>
				<div class="trainer__info-block">
					<h3 class="text_medium">Инна Шатулькина</h3>
					<p class="text_thin">Фітнес-тренер</p>
					<p class="text_small">
						Дипломований, універсальний фітнес-фахівець. Сертифікат міжнародного стандарту "Сайкл Джімнестік". Інструктор інтенсивних кардіо і силових
						програм: аеробіка, STEP FIT, Струнка фігура, BODY WORKOUT, TRACK FIT, JUMPING. Автор інноваційної інтенсивної фітнес-програми з
						використанням Сайкл - SPINT FITNESS, успішно проводиться в нашій мережі. Автор програми для дітей 5-12 років KIDS MIX FITNESS, яка включає
						загальне зміцнення дитячого організму, формування правильної постави, завдяки використанню елементів акробатики, гімнастики та аеробіки.
						Инна Шатулькина - майстер спорту зі спортивної гімнастики і кандитат в майстри спорту зі спортивної аеробіки.
					</p>
					<div class="trainer-expirience">
						<div>
							<p>10 років</p>
							<p>В спорті</p>
						</div>
						<div>
							<p>5 років</p>
							<p>Працює тренером</p>
						</div>
					</div>
				</div>
			</div>

			<div class="trainer hidden">
				<div class="trainer__photo-block">
					<img src="../../images/trainers-page-images/trainers-team-Olga.svg" alt="trainer Olga photo" class="trainer__photo" />
				</div>
				<div class="trainer__info-block">
					<h3 class="text_medium">Ольга Шеремет</h3>
					<p class="text_thin">Фітнес-тренер</p>
					<p class="text_small">
						Дипломований, універсальний фітнес-фахівець. Сертифікат міжнародного стандарту "Сайкл Джімнестік". Інструктор інтенсивних кардіо і силових
						програм: аеробіка, STEP FIT, Струнка фігура, BODY WORKOUT, TRACK FIT, JUMPING. Автор інноваційної інтенсивної фітнес-програми з
						використанням Сайкл - SPINT FITNESS, успішно проводиться в нашій мережі. Автор програми для дітей 5-12 років KIDS MIX FITNESS, яка включає
						загальне зміцнення дитячого організму, формування правильної постави, завдяки використанню елементів акробатики, гімнастики та аеробіки.
						Ольга Шеремет - майстер спорту зі спортивної гімнастики і кандитат в майстри спорту зі спортивної аеробіки.
					</p>
					<div class="trainer-expirience">
						<div>
							<p>16 років</p>
							<p>В спорті</p>
						</div>
						<div>
							<p>7 років</p>
							<p>Працює тренером</p>
						</div>
					</div>
				</div>
			</div>
			<div class="trainer hidden">
				<div class="trainer__info-block">
					<h3 class="text_medium">Игорь Ласточкин</h3>
					<p class="text_thin">Фітнес-тренер</p>
					<p class="text_small">
						Дипломований, універсальний фітнес-фахівець. Сертифікат міжнародного стандарту "Сайкл Джімнестік". Інструктор інтенсивних кардіо і силових
						програм: аеробіка, STEP FIT, Струнка фігура, BODY WORKOUT, TRACK FIT, JUMPING. Автор інноваційної інтенсивної фітнес-програми з
						використанням Сайкл - SPINT FITNESS, успішно проводиться в нашій мережі. Автор програми для дітей 5-12 років KIDS MIX FITNESS, яка включає
						загальне зміцнення дитячого організму, формування правильної постави, завдяки використанню елементів акробатики, гімнастики та аеробіки.
						Игорь Ласточкин - майстер спорту зі спортивної гімнастики і кандитат в майстри спорту зі спортивної аеробіки.
					</p>
					<div class="trainer-expirience">
						<div>
							<p>14 років</p>
							<p>В спорті</p>
						</div>
						<div>
							<p>5 років</p>
							<p>Працює тренером</p>
						</div>
					</div>
				</div>
				<div class="trainer__photo-block">
					<img src="../../images/trainers-page-images/trainers-team-Ihor.svg" alt="trainer Ihor photo" class="trainer__photo" />
				</div>
			</div>
			<div class="trainer hidden">
				<div class="trainer__info-block">
					<h3 class="text_medium">Валерія Цибульська</h3>
					<p class="text_thin">Фітнес-тренер</p>
					<p class="text_small">
						Дипломований, універсальний фітнес-фахівець. Сертифікат міжнародного стандарту "Сайкл Джімнестік". Інструктор інтенсивних кардіо і силових
						програм: аеробіка, STEP FIT, Струнка фігура, BODY WORKOUT, TRACK FIT, JUMPING. Автор інноваційної інтенсивної фітнес-програми з
						використанням Сайкл - SPINT FITNESS, успішно проводиться в нашій мережі. Автор програми для дітей 5-12 років KIDS MIX FITNESS, яка включає
						загальне зміцнення дитячого організму, формування правильної постави, завдяки використанню елементів акробатики, гімнастики та аеробіки.
						Валерія Цибульська - майстер спорту зі спортивної гімнастики і кандитат в майстри спорту зі спортивної аеробіки.
					</p>
					<div class="trainer-expirience">
						<div>
							<p>15 років</p>
							<p>В спорті</p>
						</div>
						<div>
							<p>8 років</p>
							<p>Працює тренером</p>
						</div>
					</div>
				</div>
				<div class="trainer__photo-block">
					<img src="../../images/trainers-page-images/trainers-team-Valeria.svg" alt="trainer Valeria photo" class="trainer__photo" />
				</div>
			</div>
			<div class="trainer hidden">
				<div class="trainer__photo-block">
					<img src="../../images/trainers-page-images/trainers-team-Inna.svg" alt="trainer Inna photo" class="trainer__photo" />
				</div>
				<div class="trainer__info-block">
					<h3 class="text_medium">Инна Шатулькина</h3>
					<p class="text_thin">Фітнес-тренер</p>
					<p class="text_small">
						Дипломований, універсальний фітнес-фахівець. Сертифікат міжнародного стандарту "Сайкл Джімнестік". Інструктор інтенсивних кардіо і силових
						програм: аеробіка, STEP FIT, Струнка фігура, BODY WORKOUT, TRACK FIT, JUMPING. Автор інноваційної інтенсивної фітнес-програми з
						використанням Сайкл - SPINT FITNESS, успішно проводиться в нашій мережі. Автор програми для дітей 5-12 років KIDS MIX FITNESS, яка включає
						загальне зміцнення дитячого організму, формування правильної постави, завдяки використанню елементів акробатики, гімнастики та аеробіки.
						Инна Шатулькина - майстер спорту зі спортивної гімнастики і кандитат в майстри спорту зі спортивної аеробіки.
					</p>
					<div class="trainer-expirience">
						<div>
							<p>10 років</p>
							<p>В спорті</p>
						</div>
						<div>
							<p>5 років</p>
							<p>Працює тренером</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
