<section class="trainings__section">
	<div class="trainings__container" id="trainingContainer">
		<div class="training" id="personalTraining">
			<div class="training__carousel-block">
				<div class="training__carousel">
					<img src="../../images/trainings-page-images/trainings-page-personal.jpg" alt="personal training image" />
				</div>
				<div class="orange_rect"></div>
			</div>
			<div class="training__content">
				<h2 class="section__heading">Персональні тренування</h2>
				<div class="text_small">
					<p>
						Персональний тренінг - це максимально безпечний і швидкий шлях до досягнення високих результатів. Персональне тренування дасть вам
						додаткову увагу, довіру, безпеку, підтримку і схвалення з боку професійного тренера. Ви зможете швидше досягти ваших особистих цілей:
						зниження ваги, корекції обсягів, додання тонусу м'язам, підвищення рівня загальної фізичної підготовки.
					</p>
					<p>
						Ваш персональний тренер на основі тестування та інтерв'ю, спираючись на ваші побажання, обходячи ризики, створить для вас Персональну
						програму, яка буде давати результат, мотивувати і приносити радість від тренувального процесу.
					</p>
					<p>
						А також тренер контролюватиме техніку виконання вправ, створить індивідуальний щоденник харчування, буде вносити коригування в програму
						для постійного прогресу і найголовніше психологічна підтримка, чого дуже не вистачає при самостійних тренуваннях.
					</p>
				</div>
				<div>
					<h3 class="text_medium text_orange">Чим корисні ці тренування?</h3>
					<ul class="text_small">
						<li><span class="text_light">Функціональний тренінг розвиває координацію</span></li>
						<li><span class="text_light">Функціональний тренінг розвиває силу</span></li>
						<li><span class="text_light">Функціональний тренінг розвиває швидкість</span></li>
						<li><span class="text_light">Функціональний тренінг розвиває витривалість</span></li>
						<li><span class="text_light">Функціональний тренінг розвиває гнучкість</span></li>
					</ul>
				</div>
			</div>
			<div class="aditional-info__block">
				<button class="aditional-info__button text_orange text_medium">Читати далі...</button>
			</div>
			<div class="training__button-block">
				<button class="training__button">Записатися</button>
			</div>
		</div>
		<div class="training" id="pregantTraining">
			<div class="training__carousel-block">
				<div class="training__carousel"><img src="../../images/trainings-page-images/trainings-page-pregant.jpg" alt="pregant training image" /></div>
				<div class="orange_rect"></div>
			</div>

			<div class="training__content">
				<h2 class="section__heading">Фітнес для вагітних</h2>
				<div class="text_small">
					<p>
						Тривалість одного тренування становить від 30 хвилин до години і залежить від терміну вагітності і рівня фізичної підготовленості.
						Перевагою занять з фітболом є те, що продовжувати займатися можна практично до самих пологів. Для цього просто необхідно стежити за своїм
						самопочуттям і проконсультуватися з лікарем.
					</p>

					<p>
						Давайте, разом розберемося, в чому полягає користь занять з фітболом. Весь секрет у тому, що пружні вправи на м'ячі створюють
						мікровібрації в тілі і таким чином підсилюють кровообіг, покращуючи тонус і загальний стан організму. Крім того, спеціальний комплекс
						вправ допомагає зняти спазми і різні неприємні відчуття в спині і тазостегнових суглобах вагітної жінки. виконання вправ сприяє розвитку
						еластичності м'язів, які будуть брати участь в процесі пологів.
					</p>
				</div>
				<div class="text_small">
					<p>
						Вправи з фітболом нададуть Вам відмінну можливість підготувати до пологів м'язи тазового дна, зберегти їх еластичність і збільшити
						рухливість суглобів. Крім того, спеціальний комплекс вправ допоможе розслабити і розвантажити Ваш хребет, що особливо важливо на пізніх
						термінах вагітності. Заняття можна починати з 14-16 тижні.
					</p>

					<p>
						Фітбол - найпопулярніший вид фітнес-тренування у вагітних жінок. Він базується на багаторазовому, ритмічному повторенні різних вправ з
						використанням гімнастичного м'яча - фітбола.
					</p>

					<p>
						Якщо, майбутня мама відмінно себе почуває і не має проблем з тонусом матки, то заняття з фітболом рекомендується починати з 14-16 тижні
						вагітності.
					</p>
				</div>
			</div>
			<button class="aditional-info__button text_orange text_medium">Читати далі...</button>
			<div class="training__button-block">
				<button class="training__button">Записатися</button>
			</div>
		</div>
		<div class="training" id="functionalTraining">
			<div class="training__carousel-block">
				<div class="training__carousel">
					<img src="../../images/trainings-page-images/trainings-page-functional.jpg" alt="functional training image" />
				</div>
				<div class="orange_rect"></div>
			</div>
			<div class="training__content">
				<h2 class="section__heading">Функціональна тренування</h2>
				<div class="text_small">
					<p>
						У клубі представлені зали функціонального тренінгу, в яких використовуються: кругові, інтервальні, гімнастичні (власною вагою) тренування
						для ефективного вдосконалення Вашого тіла.
					</p>
					<p>
						Основною перевагою цих залів є різноманіття вправ, які підходять для людей з різними рівнями фізичної підготовки, а також прекрасно
						відновлюють організм після довгої відсутності фізичної активності. Це одні з найбільш ефективних і безпечних способів позбутися від зайвих
						кілограмів. Під час тренувань опрацьовуються великі, видимі м'язи.
					</p>
				</div>
				<div>
					<h3 class="text_medium text_orange">Чим корисні ці тренування?</h3>
					<ul class="text_small">
						<li><span class="text_light">Функціональний тренінг розвиває координацію</span></li>
						<li><span class="text_light">Функціональний тренінг розвиває силу</span></li>
						<li><span class="text_light">Функціональний тренінг розвиває швидкість</span></li>
						<li><span class="text_light">Функціональний тренінг розвиває витривалість</span></li>
						<li><span class="text_light">Функціональний тренінг розвиває гнучкість</span></li>
					</ul>
				</div>
			</div>
			<button class="aditional-info__button text_orange text_medium">Читати далі...</button>
			<div class="training__button-block">
				<button class="training__button">Записатися</button>
			</div>
		</div>
		<div class="training" id="groupTraining">
			<div class="training__carousel-block">
				<div class="training__carousel"><img src="../../images/trainings-page-images/trainings-page-group.jpg" alt="group training image" /></div>
				<div class="orange_rect"></div>
			</div>
			<div class="training__content">
				<h2 class="section__heading">Персональні тренування</h2>
				<div class="text_small">
					<p>
						<span class="text_orange">Пілатес</span> — користь пілатесу для організму просто неоціненна. Заняття, що складаються з дбайливих і плавних
						рухів, розтягують, зміцнюють м'язи, досягаючи узгодженої діяльності всіх відділів організму. Важливе значення програми - дбайлива робота з
						хребтом. Система пілатесу розроблена для того, щоб поліпшити всі аспекти управління тілом, допомагаючи зміцнити м'язовий корсет, поліпшити
						Координацію і баланс рухів.
					</p>

					<p>
						<span class="text_orange">Йога</span> — це багатогранна система, яка дозволяє за допомогою поступової і регулярної практики з'єднуватися
						зі своїм внутрішнім потенціалом. Йога допомагає зміцнити фізичне здоров'я, знайти душевну рівновагу, активізує творче начало.Ето один з
						безлічі методів духовного розвитку, за допомогою розвитку фізичного.
					</p>

					<p>
						<span class="text_orange">Stretching</span> — клас спрямований, на розтяжку всіх м'язових груп. Регулярні заняття стретчингом НЕ тільки
						роблять м'язи більш розтягнутими і еластичними, а й підвищують їх тонус, покращують стан суглобів і збільшують діапазон рухів в них,
						виправляється постава, поліпшується координація рухів, зменшуються відкладення солей, збільшується постачання м'язів киснем і поживними
						речовинами.
					</p>
				</div>
				<div class="text_small">
					<p>
						<span class="text_orange">90/60/90</span>
						— ця програма являє собою систему послідовного, комплексного перетворення фігури, покращує самопочуття і оздоровлення організму.
					</p>

					<p>
						<span class="text_orange">Torso</span>
						— силовий клас спрямований на розвиток м'язів верхньої частини корпусу, а також м'язів черевного преса. Рекомендований для будь-якого
						рівня підготовки.
					</p>

					<p>
						<span class="text_orange">Pump power</span>
						— клас з використанням міні-штанг, спрямований на зміцнення м'язових груп вашого тіла: спини, грудей, ніг, плечей, рук і черевного преса.
					</p>

					<p>
						<span class="text_orange">ABC & stretching</span>
						— це силове тренування м'язів черевного преса в комбінації з вправами на розтягування основних груп м'язів. Перш за все, такий урок
						допоможе вам підтягти живіт і зміцнити м'язи спини.
					</p>

					<p>
						<span class="text_orange">Circular treining</span>
						— кругове силове тренування на основні групи м'язів з використанням додаткового обладнання. Високоінтенсивний клас змішаного формату.
						Рекомендується для будь-якого рівня підготовленості.
					</p>
				</div>
			</div>
			<button class="aditional-info__button text_orange text_medium">Читати далі...</button>
			<div class="training__button-block">
				<button class="training__button">Записатися</button>
			</div>
		</div>
	</div>
</section>
