.pagination__section {
	@include home__section;
	background-color: $body__bg_dark;
}

.pagination__container {
	box-sizing: border-box;
	width: 100%;
	max-width: 114rem;
	height: fit-content;
	margin: 0 auto;
	padding: 3rem 0;
	display: flex;
	justify-content: center;
}

.pagination__button {
	border: none;
	outline: none;
	background-color: inherit;
	color: inherit;
	margin: 0 1rem;
	padding: 0;
	cursor: pointer;
	width: 3rem;
	height: 3rem;

	&:hover,
	&:focus,
	&-active {
		background-color: $corp_orange;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
	}
}

.hidden {
	display: none;
}
