<section class="footer__map-container">
	<iframe
		class="footer__map"
		src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2747.2138611135!2d30.73065591499051!3d46.4840775728333!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40c63196f70d72f7%3A0x21bf8484ff5bf46a!2z0YPQuy4g0J_RgNC10L7QsdGA0LDQttC10L3RgdC60LDRjywgMzQsINCe0LTQtdGB0YHQsCwg0J7QtNC10YHRgdC60LDRjyDQvtCx0LvQsNGB0YLRjCwgNjUwMDA!5e0!3m2!1sru!2sua!4v1615627546016!5m2!1sru!2sua"
		allowfullscreen=""
		loading="lazy"
	></iframe>
</section>
<section class="footer__contacts-section">
	<div class="footer__content">
		<div class="footer__logo-block">
			<img src="../images/logo.svg" alt="NoFat logo" />
			<p class="text_small"><span class="text_orange">NO fat</span> - твой лучший фитнес центр в городе!</p>
		</div>
		<div class="footer__contacts">
			<div class="footer__contact">
				<img src="../images/icons/contacts-phone-icon.svg" alt="phone icon" class="footer__contact-icon" />
				<div>
					<h5 class="text_medium">Телефон</h5>
					<p class="text_small">+38(044)-25-25-225</p>
				</div>
			</div>
			<div class="footer__contact">
				<img src="../images/icons/contacts-location-icon.svg" alt="geolocation icon" class="footer__contact-icon" />
				<div>
					<h5 class="text_medium">Адрес</h5>
					<p class="text_small">05654, г. Одесса, ул. Дерибасовская, 30, оф. 9</p>
				</div>
			</div>
			<div class="footer__contact">
				<img src="../images/icons/contacts-email-icon.svg" alt="email icon" class="footer__contact-icon" />
				<div>
					<h5 class="text_medium">E-mail</h5>
					<p class="text_small">nofatofficial@gmail.com</p>
				</div>
			</div>
		</div>
		<div class="footer__networks">
			<a href="#" class="footer__network"><img src="../images/icons/contacts-tweeter-icon.svg" alt="tweeter link-icon" /></a>
			<a href="#" class="footer__network"><img src="../images/icons/contacts-facebook-icon.svg" alt="facebook link-icon" /></a>
			<a href="#" class="footer__network"><img src="../images/icons/contacts-instagram-icon.svg" alt="instagram link-icon" /></a>
		</div>
		<div class="footer__form-block">
			<h4 class="heading_medium_orange">Связаться с нами</h4>
			<form class="footer__form">
				<input class="form__input" type="text" name="name" placeholder="Имя " />
				<input class="form__input" type="email" name="mail" placeholder="E-mail" />
				<textarea class="form__textarea" name="message" cols="30" rows="10" placeholder="Сообщение"></textarea>
				<button class="form__button" id="formSubmitButton">Отправить</button>
			</form>
		</div>
		<div class="footer__copyrights"><p class="text_small">© 2020 Mobios school</p></div>
	</div>
</section>
