<section class="home-navigation__section">
	<header class="home-navigation__header">
		<div class="home-logo__container">
			<img src="../../images/logo.svg" alt="NoFat-logo" />
		</div>
		<nav class="home-navigation">
			<div class="home-navigation__contact"><p>+38(044-25-25-225)</p></div>
			<div class="home-navigation__lang-switcher lang-switcher">
				<button class="lang-switcher__item">EN</button>
				<button class="lang-switcher__item chosen-lang">RU</button>
				<button class="lang-switcher__item">UA</button>
			</div>
			<div class="home-navigation__burger">
				<span class="burger__line"></span>
			</div>
		</nav>
	</header>
</section>
