<section class="navigation__section">
	<nav class="navigation__container">
		<div class="navigation__logo-container">
			<img src="../images/logo.svg" alt="NoFat-logo" />
		</div>
		<div class="navigation-menu__container">
			<ul class="navigation__menu">
				<li class="navigation__item"><a href="#" class="navigation__link currant-page">Тренировки</a></li>
				<li class="navigation__item"><a href="#" class="navigation__link">Команда</a></li>
				<li class="navigation__item"><a href="#" class="navigation__link">Абонименты</a></li>
				<li class="navigation__item"><a href="#" class="navigation__link">Расписание</a></li>
				<li class="navigation__item"><a href="#" class="navigation__link">Контакты</a></li>
				<li class="navigation__item"><a href="#" class="navigation__link">Блог</a></li>
			</ul>
		</div>
		<div class="navigation__lang-switcher" id="languageSwitcher">
			<button class="lang-switcher__button">EN</button>
			<button class="lang-switcher__button chosen-lang">RU</button>
			<button class="lang-switcher__button">UA</button>
		</div>
		<div class="navigation__burger burger__block">
			<input class="burger__toggle" id="burgerButton" type="checkbox" />
			<label class="burger__button" for="burgerButton">
				<span></span>
			</label>
			<ul class="burger__menu">
				<li><a class="burger__menu-item" href="#">Тренировки</a></li>
				<li><a class="burger__menu-item" href="#">Команда</a></li>
				<li><a class="burger__menu-item" href="#">Абонименты</a></li>
				<li><a class="burger__menu-item" href="#">Расписание</a></li>
				<li><a class="burger__menu-item" href="#">Контакты</a></li>
				<li><a class="burger__menu-item" href="#">Блог</a></li>
			</ul>
		</div>
	</nav>
</section>
