<section class="blog__section">
	<div class="blog__container">
		<div class="blog__posts-block" id="postsBlock">
			<div class="blog__post">
				<p class="post__date">28.12.2020</p>
				<img src="../../images/blog-page-images/fool-blog-food.jpg" class="post__image" alt="food post image" />
				<p class="text_orange">5 советов, как не переесть на праздники</p>
				<p class="text__content text_small">
					Уже скоро начнутся новогодние праздники. Однако, праздничный период - это не только о смехе и теплые встречи с семьей и друзьями, но и о
					бесконечном марафон застолий. Даже тем, кто регулярно следит за своим питанием, в рамках подобных мероприятий, бывает гораздо труднее
					удержаться от соблазнов...
				</p>
				<a href="blog-post_page.html" class="post__link">Подробнее </a>
			</div>
			<div class="blog__post">
				<p class="post__date">28.12.2020</p>
				<img src="../../images/blog-page-images/fool-blog-home-trainings.jpg" class="post__image" alt="home training post image" />
				<p class="text_orange">Тренируемся дома: как поддержать тонус</p>
				<p class="text__content text_small">
					Чаще всего именно дома нам трудно собраться с силами и заставить себя заниматься спортом. И это зря, ведь наша активность напрямую связана
					со здоровьем. Прежде всего, нужно помнить, что нет необходимости заниматься каждый день. Вашему телу нужно время на восстановление и
					отдых...
				</p>
				<a href="blog-post_page.html" class="post__link">Подробнее </a>
			</div>
			<div class="blog__post">
				<p class="post__date">27.12.2020</p>
				<img src="../../images/blog-page-images/fool-blog-advices.jpg" class="post__image" alt="advices post image" />
				<p class="text_orange">Что не стоит делать перед тренировкой</p>
				<p class="text__content text_small">
					Прежде всего, нужно исключить любые напитки, содержащие алкоголь. Даже небольшая порция алкоголя провоцирует сонливость, обезвоживание,
					нарушение моторной функции и сужение кровеносных сосудов. Не стоит употреблять специи и переедать, ведь это может привести к учащенного
					сердцебиения и рефлюкса...
				</p>
				<a href="blog-post_page.html" class="post__link">Подробнее </a>
			</div>
			<div class="blog__post">
				<p class="post__date">26.12.2020</p>
				<img src="../../images/blog-page-images/fool-blog-changing-programm.jpg" class="post__image" alt="changing programm post image" />
				<p class="text_orange">Когда менять программу тренировок?</p>
				<p class="text__content text_small">
					Один из самых известных фитнес-энтузиастов мира Джек Лалэйн говорил, что главный секрет эффективности тренировок - регулярно менять
					программу занятий. Все потому, что тело человека имеет удивительную способность приспосабливаться ко всему - так, даже самая тяжелая
					программа тренировок со временем становится...
				</p>
				<a href="blog-post_page.html" class="post__link">Подробнее </a>
			</div>

			<div class="blog__post">
				<p class="post__date">25.12.2020</p>
				<img src="../../images/blog-page-images/fool-blog-advices.jpg" class="post__image" alt="advices post image" />
				<p class="text_orange">Что не стоит делать перед тренировкой</p>
				<p class="text__content text_small">
					Прежде всего, нужно исключить любые напитки, содержащие алкоголь. Даже небольшая порция алкоголя провоцирует сонливость, обезвоживание,
					нарушение моторной функции и сужение кровеносных сосудов. Не стоит употреблять специи и переедать, ведь это может привести к учащенного
					сердцебиения и рефлюкса...
				</p>
				<a href="blog-post_page.html" class="post__link">Подробнее </a>
			</div>
			<div class="blog__post">
				<p class="post__date">25.12.2020</p>
				<img src="../../images/blog-page-images/fool-blog-changing-programm.jpg" class="post__image" alt="changing programm post image" />
				<p class="text_orange">Когда менять программу тренировок?</p>
				<p class="text__content text_small">
					Один из самых известных фитнес-энтузиастов мира Джек Лалэйн говорил, что главный секрет эффективности тренировок - регулярно менять
					программу занятий. Все потому, что тело человека имеет удивительную способность приспосабливаться ко всему - так, даже самая тяжелая
					программа тренировок со временем становится...
				</p>
				<a href="blog-post_page.html" class="post__link">Подробнее </a>
			</div>
			<div class="blog__post">
				<p class="post__date">24.12.2020</p>
				<img src="../../images/blog-page-images/fool-blog-home-trainings.jpg" class="post__image" alt="home training post image" />
				<p class="text_orange">Тренируемся дома: как поддержать тонус</p>
				<p class="text__content text_small">
					Чаще всего именно дома нам трудно собраться с силами и заставить себя заниматься спортом. И это зря, ведь наша активность напрямую связана
					со здоровьем. Прежде всего, нужно помнить, что нет необходимости заниматься каждый день. Вашему телу нужно время на восстановление и
					отдых...
				</p>
				<a href="blog-post_page.html" class="post__link">Подробнее </a>
			</div>
			<div class="blog__post">
				<p class="post__date">24.12.2020</p>
				<img src="../../images/blog-page-images/fool-blog-food.jpg" class="post__image" alt="food post image" />
				<p class="text_orange">5 советов, как не переесть на праздники</p>
				<p class="text__content text_small">
					Уже скоро начнутся новогодние праздники. Однако, праздничный период - это не только о смехе и теплые встречи с семьей и друзьями, но и о
					бесконечном марафон застолий. Даже тем, кто регулярно следит за своим питанием, в рамках подобных мероприятий, бывает гораздо труднее
					удержаться от соблазнов...
				</p>
				<a href="blog-post_page.html" class="post__link">Подробнее </a>
			</div>

			<div class="blog__post">
				<p class="post__date">23.12.2020</p>
				<img src="../../images/blog-page-images/fool-blog-food.jpg" class="post__image" alt="food post image" />
				<p class="text_orange">5 советов, как не переесть на праздники</p>
				<p class="text__content text_small">
					Уже скоро начнутся новогодние праздники. Однако, праздничный период - это не только о смехе и теплые встречи с семьей и друзьями, но и о
					бесконечном марафон застолий. Даже тем, кто регулярно следит за своим питанием, в рамках подобных мероприятий, бывает гораздо труднее
					удержаться от соблазнов...
				</p>
				<a href="blog-post_page.html" class="post__link">Подробнее </a>
			</div>
			<div class="blog__post">
				<p class="post__date">23.12.2020</p>
				<img src="../../images/blog-page-images/fool-blog-advices.jpg" class="post__image" alt="advices post image" />
				<p class="text_orange">Что не стоит делать перед тренировкой</p>
				<p class="text__content text_small">
					Прежде всего, нужно исключить любые напитки, содержащие алкоголь. Даже небольшая порция алкоголя провоцирует сонливость, обезвоживание,
					нарушение моторной функции и сужение кровеносных сосудов. Не стоит употреблять специи и переедать, ведь это может привести к учащенного
					сердцебиения и рефлюкса...
				</p>
				<a href="blog-post_page.html" class="post__link">Подробнее </a>
			</div>
		</div>
	</div>
</section>
