<section class="post__section">
	<div class="post__container">
		<div class="post__image-block">
			<div class="text_orange">
				<h2 class="post__heading">Боль в мышцах после тренировки</h2>
				<p class="text_small">Что делать, если болят мышцы после тренировки? Причины и способы устранения боли в мышцах</p>
				<img class="post__content-image" src="../../images/blog-page-images/post-img.png" alt="" />
			</div>
		</div>
		<div class="post__content-block">
			<div class="text_small">
				<p>
					Физические нагрузки для организма полезны — это доказанный факт, не вызывающий сомнений. Регулярные занятия спортом улучшают самочувствие,
					качество жизни, ускоряют обмен веществ, помогают сохранить гибкость и подвижность тела, способствуют росту мышечной массы и повышению
					выносливости.
				</p>
			</div>
			<div class="text_small">
				<h3 class="post__content-heading">Причины мышечных болей после тренировок</h3>
				<p>
					Различают два вида мышечной боли, появляющейся на начальном этапе спортивных занятий, которые считаются естественными и потому безопасными.
				</p>
				<p>
					Один возникает прямо во время тренировки, в тот момент, когда вы выполняете последние, самые тяжелые повторы упражнений. Почему же так
					происходит?
				</p>

				<p>
					В процессе тренировки в мышечной ткани и крови начинает разлагаться АТФ (аденозинтрифосфорная кислота), которая является важнейшим источник
					энергии. Из-за этого происходит накопление ионов водорода в крови и мышцах, и Ph крови начинает смещаться в сторону окисления. Именно из-за
					«закисления» крови возникает ощущение жжения. Оно довольно быстро проходит: кровь и повышенная вентиляция воздуха в легких помогают
					организму справиться с накопившимися ионами водорода. А вот все последующие болевые ощущения связаны с микроповреждениями в мышечной ткани.
				</p>

				<p>Второй — это так называемая крепатура, или запаздывающая мышечная боль.</p>
				<p>
					Она возникает через 6-8 часов после физической нагрузки и достигает максимума примерно через 2-3 суток. Как правило, ее появление является
					следствием непривычной или излишне усиленной физической нагрузки. Крепатуру вы, скорее всего, не раз испытали на себе: не только в самом
					начале фитнес-занятий, но и при освоении новых комплексов упражнений или при увеличении их продолжительности и интенсивности. Причиной этого
					вида боли служат микроскопические повреждения или даже разрывы мышечных волокон.
				</p>

				<p>
					Большое количество микроповреждений мышц тормозит рост мышечной ткани. Это происходит из-за того, что для роста мышц необходимы
					аминокислоты, которые также нужны для заживления поврежденных мышц. Сильные повреждения мышечной ткани «воруют» аминокислоты для заживления,
					не давая тем самым, расти мышечным волокнам.
				</p>
			</div>
			<div class="text_small">
				<h3 class="post__content-heading">Причины мышечных болей после тренировок</h3>
				<p>
					Полной противоположностью естественным болевым ощущениям служит сильная боль, возникающая вследствие травмы. Такая боль носит ноющий
					характер, усиливается даже от незначительных нагрузок и становится невыносимой при резком движении.
				</p>
				<p>Болевой синдром проявляется сразу же, во время тренировки, иногда – на следующий день.</p>
				<p>
					Если у вас появилось покраснение и отек тканей, кровоподтеки, общее недомогание, это явно свидетельствует о серьезной травме мышц и связок.
					В таком случае не откладывайте поход к врачу!
				</p>
			</div>
			<div class="text_small">
				<h3 class="post__content-heading">Травматические причины мышечной боли</h3>
				<p>
					Мы разобрали причины боли, теперь поговорим о том, как от нее избавиться. Безопасные виды боли можно снять непосредственно во время занятий,
					повторив упражнение, которое ее вызвало, но с меньшей нагрузкой. Эти действия уберут скованность мышц и обеспечат усиленный приток крови,
					несущей тканям кислород и необходимые для регенерации питательные элементы.
				</p>

				<p>
					Дискомфорт в мышцах ног и нижней части тела можно снять с помощью кардиоупражнений, а избавиться от болевых ощущений в мышцах верхней части
					тела можно, сделав упражнения с собственным весом или занимаясь йогой.
				</p>
				<p>Если же говорить о снятии крепатуры, есть несколько действенных методик, позволяющих быстро убрать болевой синдром.</p>
			</div>
			<div class="share__links">
				<p class="text_medium">Поделиться</p>
				<a class="share__link" href="https://twitter.com/intent/tweet?url=&text=&via=" target="_blank" rel="nofollow">
					<img src="../../images/icons/tweeter-share-icon.svg" alt="tweeter-share" />
				</a>
				<a class="share__link" href="https://www.facebook.com/sharer.php?u=" target="_blank" rel="nofollow">
					<img src="../../images/icons/facebook-share-icon.svg" alt="facebook-share" />
				</a>
			</div>
		</div>
	</div>
</section>
